<%- include('./include/header'); -%>
  <h2>Page non trouvée</h2>
  <p class="thumbnail">
    <img alt="Not found" title="U Mad Bro?" src="/img/error.gif" />
  </p>
<%- include('./include/footer'); -%>
