<%- include('./include/header'); -%>
  <h2>Accueil</h2>
  <%_ if (data.last_pic_path != null && data.last_pic_path != '') { -%>
  <h3>Dernier téléversement</h3>
  <p class="thumbnail">
    <a href="<%= config.server.base_uri %><%= config.pages.view.base_uri + '/' + data.last_pic_path %>">
      <%_ if (data.type.startsWith("audio/")) { -%>
      <img class="photo" src="<%= config.server.base_uri %>/img/audio.svg" alt="<%= data.last_pic_path %>" title="<%= data.last_pic_path %>" />
      <%_ } else { -%>
      <img class="photo" src="<%= data.last_pic_thumbnail_path %>" alt="<%= data.last_pic_path %>" />
      <%_ } -%>
    </a>
  </p>
  <%_ } -%>
  <%_ if (data.count_storage != null) { -%>
  <h3>Statistiques</h3>
  <ul>
    <li><%- data.count_storage %> <%- data.count_storage > 1 ? 'téléversements' : 'téléversement' %></li>
  </ul>
  <%_ } -%>
<%- include('./include/footer'); -%>
