<%- include('./include/header'); -%>
  <h2>Formulaire de contact</h2>
  <%_ if (! success) { -%>
  <p><%= error %></p>
  <%_ } -%>
  <form method="POST" action="<%= config.server.base_uri %><%= config.pages.contact.uri %>" enctype="multipart/form-data">
    <p>
      <label for="message">Votre message (obligatoire) :</label>
      <textarea id="message" name="message" rows="4" cols="100" required></textarea>
    </p>
    <p>
      <label for="email">Votre courriel de contact :</label>
      <input type="text" id="email" name="email" placeholder="Cette adresse ne sera utilisée que si une réponse de notre part est nécessaire" />
    </p>
    <p class="inline center">
      <input class="button" type="reset" value="⌦ Effacer" />
      <input class="button" type="submit" value="✓ Soumettre" />
    </p>
  </form>

<%- include('./include/footer'); %>
