<!DOCTYPE html>
<html lang="fr">
<head>
<title>kawateam.dev - Maintenance</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <h1>kawateam.dev</h1>
  <p>Le site est actuellement en maintenance.</p>
</body>
</html>
