<%- include('./include/header'); -%>
  <h2>Stockage</h2>
  <%_ if (error != null) { -%>
  <p>Une erreur est survenue : <%= error %></p>
  <%_ } -%>
  <form action="<%= config.server.base_uri %><%= config.pages.storage.base_uri %>" method="POST">
    <datalist id="search_list">
      <%_ tags.forEach(tag => { if (tag != '') { -%>
      <option><%= tag %></option>
      <%_ }}); -%>
    </datalist>
    <p class="inline smaller">
      <input name="search" id="search" type="text" placeholder="Filtrer la liste des téléversements" list="search_list" autocomplete="off" required />
      <input class="button" type="submit" value="Filtrer" />
    </p>
  </form>
  <h3>Liste des téléversements</h3>
  <%_ if (storage.length > 0) { -%>
  <ul class="storage">
    <%_ storage.forEach((pic, index) => { -%>
    <li>
      <a href="<%= config.server.base_uri %><%= config.pages.view.base_uri + '/' + pic['path'] %>">
        <img class="photo" src="<%_ if (pic['thumbnail'] === null) { -%><%= config.server.base_uri %>/img/audio.svg<%_ } else { -%><%= pic['thumbnail'] %><%_ } -%>"<%_ if (pic['alt']) { -%> alt="<%= pic['alt'] %>" title="<%= pic['alt'] %>"<%_ } -%> />
      </a>
    </li>
    <%_ }); -%>
  </ul>
  <%_ } else { -%>
  <p>Il n'y a aucun téléversement disponible.</p>
  <%_ } -%>
<%- include('./include/pagination') -%>
<%- include('./include/footer'); -%>
