<%- include('./include/header'); -%>
  <h2>Téléversement</h2>
  <%_ if (! success) { -%>
  <p class="error"><%= error %></p>
  <%_ } -%>
  <%_ if (config.pages.upload.upload_allowed) { -%>
  <h3>Formats de fichier acceptés (Taille limitée à <%=config.pages.upload.max_upload_size_mo%> Mo max)</h3>
  <ul>
    <li><b>Audio</b> : <%= accepted_types.audio.split('/').join(', ') %></li>
    <li><b>Image</b> : <%= accepted_types.image.split('/').join(', ') %></li>
    <li><b>Vidéo</b> : <%= accepted_types.video.split('/').join(', ') %></li>
  </ul>
  <h3>Téléverser un fichier</h3>
  <form method="POST" action="<%= config.server.base_uri %><%= config.pages.upload.base_uri %>" enctype="multipart/form-data">
    <p>
      <label for="file">Sélectionner le fichier à téléverser (obligatoire) :</label><br />
      <input type="file" id="fileinput" name="picFile" accept="<%=accepted_mimes%>" required />
    </p>
    <p>
      <label for="tags">Mettre des étiquettes à ce téléversement :</label><br />
      <input type="text" id="tags" name="tags" placeholder="Les étiquettes sont séparées par des espaces" />
    </p>
    <p>
      <label for="alt">Ajouter un texte descriptif :</label><br />
      <textarea id="alt" name="alt" placeholder="Ce texte sert à décrire le média téléversé via les balises « alt » et « title  »"></textarea>
    </p>
    <p class="inline">
      <label for="private">Téléversement privé ?</label>
      <input type="checkbox" name="private" value="private" id="private" />
    </p>
    <p class="inline">
      <label for="temp">Téléversement temporaire ?</label>
      <select id="temp" name="temp">
        <optgroup label="Téléversement permanent">
          <option value="0">Aucun</option>
        </optgroup>
        <optgroup label="Téléversement temporaire">
          <option value="1">1 heure</option>
          <option value="12">12 heures</option>
          <option value="24">1 jour</option>
          <option value="168">1 semaine</option>
        </optgroup>
      </select>
    </p>
    <p class="inline center">
      <input class="button" type="reset" value="⌦ Effacer" />
      <input class="button" type="submit" value="✓ Téléverser" />
    </p>
  </form>
  <%_ } else { -%>
  <p>Le téléversement a été désactivé.</p>
  <%_ } -%>
  <script src="<%= config.server.base_uri %>/js/upload_form.js"></script>
<%- include('./include/footer'); -%>
