<%- include('./include/header'); -%>
  <h2>Téléversement</h2>
  <p class="thumbnail">
    <%_ if (data.type.startsWith("image/")) { -%>
    <a href="<%= config.server.base_uri %><%= config.pages.storage.static_uri + data.path %>">
      <img class="photo" src="<%= config.server.base_uri %><%= config.pages.storage.static_uri + data.path %>" alt="<%= data.alt %>" title="<%= data.alt %>" />
    </a>
    <%_ } else if (data.type.startsWith("audio/")) { -%>
    <audio class="photo" controls title="<%= data.alt %>">
      <source src="<%= config.server.base_uri %><%= config.pages.storage.static_uri + data.path %>" type="<%= data.type %>" />
    </audio>
    <%_ } else if (data.type.startsWith("video/")) { -%>
    <video class="photo" controls title="<%= data.alt %>">
      <source src="<%= config.server.base_uri %><%= config.pages.storage.static_uri + data.path %>" type="<%= data.type %>" />
    </video>
    <%_ } -%>
  </p>
  <h3>Informations</h3>
  <ul>
    <li><b>Date d'envoi</b> : <%= data.date %></li>
    <%_ if (data.tags !== '') { -%>
    <li><b>Étiquettes</b> : <% data.tags.split(' ').forEach(tag => { %><a href="<%= config.server.base_uri %><%= config.pages.storage.base_uri %>/<%= tag %>"><%= tag %></a> <% }) %></li>
    <%_ } -%>
    <li><b>Taille</b> : <%= data.size %></li>
    <%_ if (data.alt !== '' && data.alt !== data.path) { -%>
    <li><b>Texte alternatif</b> : <%= data.alt %></li>
    <%_ } -%>
    <li><b>Type</b> : <%= data.type %></li>
  </ul>
  <h3>Ce téléversement est problèmatique ?</h3>
  <form class="center" id="report_form_<%= data.index %>" action="<%= config.server.base_uri %><%= config.pages.storage.base_uri %>/report" method="POST">
    <input type="hidden" id="report_id_<%= data.index %>" name="report" value="<%= data.index %>">
    <input class="button" type="submit" name="report" value="Signaler aux administrateurs" />
  </form>
<%- include('./include/footer'); -%>
