  <p class="center">
    <small>2017-2024 Kawa-Team &amp; WARQt –<% if (config.pages.contact.enable === true) { %> <a href="<%= config.server.base_uri %><%= config.pages.contact.uri %>">Contact</a> –<% } %> Version <%= site_version %></small>
    <small>Les <a href="https://framagit.org/atralfalgar/kawateam.dev">sources</a> de ce site sont sous licence <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPL3</a></small>
  </p>
</body>
</html>
