<!DOCTYPE html>
<html lang="fr">
<head>
<title><%= title %></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style type="text/css">
<%- include('./style'); -%>
</style>
</head>
<body>
  <h1><%= config.server.name %><% if (dev === true) { %> (DEV)<% } %></h1>
  <nav>
    <a href="<%= config.server.base_uri %>/">Accueil</a>
    <%_ if (config.pages.upload.enable) { -%>
    <a href="<%= config.server.base_uri %><%= config.pages.upload.base_uri %>">Téléversement</a>
    <%_ } -%>
    <%_ if (config.pages.storage.enable) { -%>
    <a href="<%= config.server.base_uri %><%= config.pages.storage.base_uri %>">Stockage</a>
    <%_ } -%>
  </nav>
