<%_ if (pagination.total > 1) { -%>
  <p class="center">
    <small>Page <%= pagination.current -%> sur <%= pagination.total -%></small>
  </p>
  <ul class="pagination">
    <%_ if (! pagination.is_first) { -%>
    <li><a href="<%= pagination.root + 1 -%>">« Première</a></li>
    <%_ } -%>
    <%_ if (pagination.previous != null && pagination.previous != 1) { -%>
    <li><a href="<%= pagination.root + pagination.previous -%>">‹ Précédente</a></li>
    <%_ } -%>
    <%_ if (pagination.next != null && pagination.next != pagination.total) { -%>
    <li><a href="<%= pagination.root + pagination.next -%>">Suivante ›</a></li>
    <%_ } -%>
    <%_ if (! pagination.is_last) { -%>
    <li><a href="<%= pagination.root + pagination.total -%>">Dernière »</a></li>
    <%_ } -%>
  </ul>
<%_ } -%>
